<div class="columns">
  <div class="column">
    <div class="box has-background-black-ter has-text-white">
      <div class="columns">
        <div class="column">
          <h5 class="title is-5 has-text-warning">
            {{title}} <br>
          </h5>
          <p>
            {{latitude}}° N<br>
            {{longitude}}° W
          </p>
        </div>
        <div class="column is-3">
            <span class="icon has-background location">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 16 17"><path fill="currentColor" d="m12.596 11.596l-3.535 3.536a1.5 1.5 0 0 1-2.122 0l-3.535-3.536a6.5 6.5 0 1 1 9.192-9.193a6.5 6.5 0 0 1 0 9.193Zm-1.06-8.132v-.001a5 5 0 1 0-7.072 7.072L8 14.07l3.536-3.534a5 5 0 0 0 0-7.072ZM8 9a2 2 0 1 1-.001-3.999A2 2 0 0 1 8 9Z"/></svg>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box has-background-black-ter has-text-white">
      <div class="columns">
        <div class="column">
          <h5 class="title is-5 has-text-warning">
            Weather
          </h5>
<!--             <p>
            ${station.latestWeather}
          </p>
        </div>
        <div class="column is-3">
            <span class="icon has-background weather">
              <i class='${station.latestWeatherIcon}'></i>
            </span> -->
        </div> 
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box has-background-black-ter has-text-white">
      <div class="columns">
        <div class="column">
          <h5 class="title is-5 has-text-warning">
            Temperature
          </h5>
             <div class="columns">
            <div class="column is-narrow">
              Now: <br>
              <br>
              Max:<br>
              Min:
            </div>
            <div class="column">
              {{latestReading.temperature}}°C<br>
              {{latestReading.temperatureFahrenheit}}°F<br>
              {{maxTemp}}°C<br>
              {{minTemp}}°C
            </div>
          </div>
        </div>
        <div class="column is-3"> 
          <div class="columns is-multiline">
            <div class="column">
                <span class="icon has-background temperature">
                  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 25"><path fill="currentColor" fill-rule="evenodd" d="M8.25 5a3.75 3.75 0 1 1 7.5 0v6.348c0 .072.04.18.158.274a6.25 6.25 0 1 1-7.816 0c.118-.095.158-.202.158-.274V5ZM12 2.75A2.25 2.25 0 0 0 9.75 5v6.348c0 .603-.31 1.116-.72 1.444a4.75 4.75 0 1 0 5.939 0c-.409-.328-.719-.84-.719-1.444V5A2.25 2.25 0 0 0 12 2.75Zm0 1.5a.75.75 0 0 1 .75.75v8.337a3.251 3.251 0 1 1-1.5 0V5a.75.75 0 0 1 .75-.75Zm0 10.5a1.75 1.75 0 1 0 0 3.5a1.75 1.75 0 0 0 0-3.5Z" clip-rule="evenodd"/></svg>
                </span>
            </div>
            <div class="column">
            </div>
            <!--<div class="column">
                <span class="icon temperature">
                  <i class='${station.temperatureTrendIcon}'></i>
                </span>
            </div>--> 
          </div> 
        </div> 
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box has-background-black-ter has-text-white">
      <div class="columns ">
        <div class="column">
          <h5 class="title is-5 has-text-warning">
            Wind
          </h5>
             <div class="columns">
            <div class="column is-narrow">
              {{latestReading.windSpeedBeaufort}} Bft <br>
              Feels like<br>
              Max:<br>
              Min:
            </div>
            <div class="column">
              {{latestReading.windDirectionCompass}}<br>
              {{latestReading.windChill}}°C<br>
              {{maxWindSpeed}} <br>
              {{minWindSpeed}}
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="columns is-multiline is-centered">
            <div class="column">
              <span class="icon has-background wind">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 510 540"><path fill="currentColor" d="M288 32c0 17.7 14.3 32 32 32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h320c53 0 96-43 96-96S405 0 352 0h-32c-17.7 0-32 14.3-32 32zm64 352c0 17.7 14.3 32 32 32h32c53 0 96-43 96-96s-43-96-96-96H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32h-32c-17.7 0-32 14.3-32 32zM128 512h32c53 0 96-43 96-96s-43-96-96-96H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h128c17.7 0 32 14.3 32 32s-14.3 32-32 32h-32c-17.7 0-32 14.3-32 32s14.3 32 32 32z"/></svg>
              </span>
            </div>
            <div class="column">
            </div>
            <!--<div class="column">
                <span class="icon wind">
                  <i class='${station.windTrendIcon}'></i>
                </span>
            </div> -->
          </div> 
        </div> 
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box has-background-black-ter has-text-white">
      <div class="columns">
        <div class="column">
          <h5 class="title is-5 has-text-warning">
            Pressure
          </h5>
          <div class="columns">
            <div class="column is-narrow">
              Now:<br>
              <br>
              Max:<br>
              Min:
            </div>
            <div class="column">
              {{latestReading.pressure}}hPa<br>
              <br>
              {{maxPressure}}hPa<br>
              {{minPressure}}hPa
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="columns is-multiline">
            <div class="column">
                <span class="icon has-background pressure">
                  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 26"><path fill="currentColor" d="M12 3a4 4 0 0 1 4 4c0 .73-.19 1.41-.54 2H18c.95 0 1.75.67 1.95 1.56C21.96 18.57 22 18.78 22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2c0-.22.04-.43 2.05-8.44C4.25 9.67 5.05 9 6 9h2.54A3.89 3.89 0 0 1 8 7a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m-6 6v8h5v-2H8v-6H6m7 0v8h3c1.11 0 2-.89 2-2v-.5c0-.57-.25-1.12-.68-1.5c.43-.38.68-.93.68-1.5V13c0-1.11-.89-2-2-2h-3m2 2h1v1h-1v-1m0 3h1v1h-1v-1Z"/></svg>
                </span>
            </div>
            <!--<div class="column">
            </div>
            <div class="column">
                <span class="icon pressure">
                  <i class='${station.pressureTrendIcon}'></i>
                </span>
            </div> -->
          </div> 
        </div> 
      </div>
    </div>
  </div>
</div>