<div class="columns">
  <div class="column">
    <div class="box has-background-black-ter has-text-white">
      <div class="columns">
        <div class="column">
          <h5 class="title is-5 has-text-warning">
            {{title}} <br>
          </h5>
          <p>
            {{latitude}}° N<br>
            {{longitude}}° W
          </p>
        </div>
        <div class="column is-3">
            <span class="icon has-background location">
              <i class="fa-solid fa-location-crosshairs"></i>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box has-background-black-ter has-text-white">
      <div class="columns">
        <div class="column">
          <h5 class="title is-5 has-text-warning">
            Weather
          </h5>
<!--             <p>
            ${station.latestWeather}
          </p>
        </div>
        <div class="column is-3">
            <span class="icon has-background weather">
              <i class='${station.latestWeatherIcon}'></i>
            </span> -->
        </div> 
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box has-background-black-ter has-text-white">
      <div class="columns">
        <div class="column">
          <h5 class="title is-5 has-text-warning">
            Temperature
          </h5>
             <div class="columns">
            <div class="column is-narrow">
              Now: <br>
              <br>
              Min:<br>
              Max:
            </div>
            <div class="column">
              {{latestReading.temperature}}°C<br>
              {{latestReading.temperatureFahrenheit}}°F<br>
              {{latestReading.minTemp}}°C<br>
              {{latestReading.maxTemp}}°C
            </div>
          </div>
        </div>
<!--    <div class="column is-3"> 
          <div class="columns is-multiline">
            <div class="column">
                <span class="icon has-background temperature">
                  <i class="fa-solid fa-temperature-low"></i>
                </span>
            </div>
            <div class="column">
            </div>
            <div class="column">
                <span class="icon temperature">
                  <i class='${station.temperatureTrendIcon}'></i>
                </span>
            </div> 
          </div> 
        </div> -->
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box has-background-black-ter has-text-white">
      <div class="columns ">
        <div class="column">
          <h5 class="title is-5 has-text-warning">
            Wind
          </h5>
             <div class="columns">
            <div class="column is-narrow">
              {{latestReading.windSpeedBeaufort}} Bft <br>
              Feels like<br>
              Min:<br>
              Max:
            </div>
            <div class="column">
              {{latestReading.windDirectionCompass}}<br>
              {{latestReading.windChill}}°C<br>
              {{station.minWindSpeed}} <br>
              {{station.maxWindSpeed}}
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="columns is-multiline is-centered">
            <div class="column">
              <span class="icon is-large">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewbox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"/><path fill="green" d="M10.5 4a1.5 1.5 0 0 0-1.47 1.199A1 1 0 1 1 7.07 4.8A3.5 3.5 0 1 1 10.5 9H5a1 1 0 0 1 0-2h5.5a1.5 1.5 0 0 0 0-3Zm8 4a1.5 1.5 0 0 0-1.47 1.199a1 1 0 1 1-1.96-.398A3.5 3.5 0 1 1 18.5 13H3a1 1 0 1 1 0-2h15.5a1.5 1.5 0 0 0 0-3Zm-5.47 10.801A1.5 1.5 0 1 0 14.5 17H8a1 1 0 1 1 0-2h6.5a3.5 3.5 0 1 1-3.43 4.199a1 1 0 1 1 1.96-.398Z"/></g></svg>
              </span>
            </div>
            <div class="column">
            </div>
            <!--<div class="column">
                <span class="icon wind">
                  <i class='${station.windTrendIcon}'></i>
                </span>
            </div> -->
          </div> 
        </div> 
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box has-background-black-ter has-text-white">
      <div class="columns">
        <div class="column">
          <h5 class="title is-5 has-text-warning">
            Pressure
          </h5>
          <div class="columns">
            <div class="column is-narrow">
              Now:<br>
              <br>
              Min:<br>
              Max:
            </div>
            <div class="column">
              {{latestReading.pressure}}hPa<br>
              <br>
              {{station.minPressure}}hPa<br>
              {{station.maxPressure}}hPa
            </div>
          </div>
        </div>
        <!--<div class="column is-3">
          <div class="columns is-multiline">
            <div class="column">
                <span class="icon has-background pressure">
                  <i class="fa-solid fa-weight-scale"></i>
                </span>
            </div>
            <div class="column">
            </div>
            <div class="column">
                <span class="icon pressure">
                  <i class='${station.pressureTrendIcon}'></i>
                </span>
            </div>
          </div> 
        </div> -->
      </div>
    </div>
  </div>
</div>