<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>      
      <th>Date and Time</th>
      <th><p class="weather">Weather Code</p></th>
      <th><p class="temperature">Temperature</p></th>
      <th><p class="wind">Wind Speed</p></th>
      <th><p class="wind">Wind Direction</p></th>
      <th><p class="pressure">Pressure</p></th>
      <th><!-- Adding space --></th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each readings}}
    <tr>
      <td>
        {{time}}
      </td>
      <td>
        {{code}}
      </td>
      <td>
        {{temperature}}
      </td>
      <td>
        {{windSpeed}}
      </td>
      <td>
        {{windDirection}}
      </td>
      <td>
        {{pressure}}
      </td>
      <td>
      </td>
      <td>
        <a href="/station/{{stationid}}/deletereading/{{_id}}" class="button">
          {{>icons/bin}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>