<table class="table is-fullwidth">
  <thead>
    <tr>      
      <th>Date & Time</th>
      <th>Weather Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
      <th></th>
      <!-- Adding space -->
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each readings}}
    <tr>
      <td>
        {{time}}
      </td>
      <td>
        {{code}}
      </td>
      <td>
        {{temperature}}
      </td>
      <td>
        {{windSpeed}}
      </td>
      <td>
        {{windDirection}}
      </td>
      <td>
        {{pressure}}
      </td>
      <td>
      </td>
      <td>
        <a href="/station/{{stationid}}/editreading/{{_id}}" class="button">
          {{>icons/edit}}
        </a>
      </td>
      <td>
        <a href="/station/{{stationid}}/deletereading/{{_id}}" class="button">
          {{>icons/bin}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>